/*CSS BY NAME*/

/*IMPORTED FONTS*/

/*CSS REST*/

/*ROOT VARIABLES*/
:root{
    --teal: #4ca7c0;
    --purple: #484fb7;
    --lavender: #6b8fe7;
    --yellow: #e9bb57;
    --pink: #d9526f;
    --dark-gray: #1e1e1e;
    --white: #ffffff;
}
/*GLOBAL STYLES (mobile first/small)*/